body {
    background-color: #DDFFEB;
    width: 100vh;
    height: 100%;
    font-family: Poppins;
    margin: auto;
    display: flexbox;
}


main {
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}



main h1 {
    font-weight: 700;
    font-size: 6rem;
    padding: 15px 0;
}


main input {
    padding: 20px 20px;
    font-size: 20px;
    text-align: left;
    width: 100%;
    border-radius: 30px;
    background-color: #D9D9D9;
    border-style: none;
    margin-bottom: 20px;
}

main input:active {
    border-color: black
}

.entrar {
    padding: 20px 0px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    width: 100%;
    border-radius: 30px;
    background-color: #57D89F;
    border-style: none;
    margin-bottom: 20px;
    color: #000;
}



.senha {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-align: center;
}

.google {
    padding: 20px 0px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    border-radius: 30px;
    background-color: #fff;
    border-style: none;
    box-sizing: border-box;
    margin-top: 20%;
    text-align: center;
}

.img-1 {
    width: 30px;
    margin-right: 25px;
    display: inline-block;
    text-align: center;
}

.ou {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 10px 0;
}

.criar {
    padding: 20px 0px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    border-radius: 30px;
    border-color: #57D89F;
    border-style: solid;
    background-color: #DDFFEB;
    text-align: center;
}

.entrar-cadastro {
    padding: 20px 0px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    width: 100%;
    border-radius: 30px;
    background-color: #57D89F;
    border-style: none;
    color: #000;
}

.google-criar {
    padding: 20px 0px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    border-radius: 30px;
    background-color: #fff;
    border-style: none;
    box-sizing: border-box;
    text-align: center;
}

.conta {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    text-align: center;
    margin-top: 20%;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    padding: 15px 0 2px 0;
}

.instrucoes {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
}

.recuperar {
    padding: 20px 20px;
    font-size: 20px;
    text-align: left;
    width: 100%;
    border-radius: 30px;
    background-color: #D9D9D9;
    border-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ou-recuperar {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
